html,
body {
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 10px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

body {
  font-size: 16px;
  // font-size: 100%;
}

/* */
p {
  font-size: $site-base-font-size;
  line-height: 1.6;
  text-align: justify;
}

img {
  max-width: 100%;
}

/* Bootstrap tweaks */
.carousel-control-prev,
.carousel-control-next {
  top: unset;
  bottom: 15px;
  z-index: 11;
}

.carousel-caption {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #7c7c7c;
  opacity: 0.8;
  padding-bottom: 5px;
  padding-top: 5px;

  p {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    transition: none;
  }
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .carousel-item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  /* hide all slides */
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .carousel-item:first-child {
  top: auto;
  opacity: 1;
  /* show first slide */
  position: relative;
}

.carousel.fade .carousel-item.active {
  opacity: 1;
}


// Table
article .node__content, .region-content {
    table {
      width: 100%;
      margin-bottom: $spacer;
      color: $table-color;
      background-color: $table-bg; // Reset for nesting within parents with `background-color`.

      th,
      td {
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: $table-border-width solid $table-border-color;
      }

      thead th {
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
      }

      tbody + tbody {
        border-top: (2 * $table-border-width) solid $table-border-color;
      }
    }

    // Border versions
    //
    // Add or remove borders all around the table and between all the columns.

    // Zebra-striping
    //
    // Default zebra-stripe styles (alternating gray and transparent backgrounds)

    table {
      tbody tr:nth-of-type(even) {
        background-color: $table-accent-bg;
      }
    }


    // Hover effect
    //
    // Placed here since it has to come after the potential zebra striping

    table {
      tbody tr {
        &:hover {
          color: $table-hover-color;
          background-color: $table-hover-bg;
        }
      }
    }

    // custom

    p {
        font-size: $site-base-font-size;
    }
    table {
        border: 2px solid #E2C983;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: $site-base-font-size;
        margin-bottom: 3rem;
        td, th {
            padding-left: 2rem;
            p {
                margin: 0;
            }
        }
        thead th, tbody th {
            border-bottom: 2px solid #E2C983;
            color: #1D6CC5;
            font-size: 1.8rem;
        }
        &.table-coursc tr:last-child td {
            border-bottom: 2px solid #E2C983;
            color: #1D6CC5;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}

.bordered {
    border: 2px solid #EBCE7D;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2rem;
    margin-top: 2rem;
    p, h3 {
        margin-bottom: 1rem;
    }
    ul {
        list-style: none;
        li {
            &:before {
                content: "\2022";
                color: #ECCD78;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-size: 2rem;
            }
        }
    }
    li {
        font-size: $site-base-font-size;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-weight: bold;
        font-size: $site-base-font-size;
        color: #2062AD;
    }
    + .bordered {
        margin-top: 3rem;
    }
}
.btn-actions {
    margin-top: 3rem;
    .btn {
        padding: 1.3rem 2.5rem;
        font-size: $site-base-font-size;
        border-radius: 4px;
        display: block;
        + .btn {
            margin-top: 2rem;
        }
    }
    @include media-breakpoint-up(sm) {
        .btn {
            display: inline-block;
            + .btn {
                margin-left: 2rem;
                margin-top: 0;
            }
        }
    }
}
