<div class="outreach">
    <div class="line-box">
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src="{{ file_url('public://inline-images/outreach.png') }}" />
                </div>
            </div>
            <div class="col">
                <div class="row meta">
                    <div class="col">
                        <span class="fa fa-map-marker align-middle" aria-hidden="true"></span>
                        <span class="align-middle">Online Outreach</span>
                    </div>
                    <div class="col">
                        <span class="fa fa-map-marker align-middle" aria-hidden="true"></span>
                        <span class="align-middle">F2F Outreach</span>
                    </div>
                </div>
                {{ content }}
            </div>
        </div>
    </div>
</div>