.featured-boxes {
  a {
    text-decoration: none;

    &:hover {
      .featured-box {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(235, 206, 125, 0.33) 100%), #F8F8F8;
      }
    }
  }

  .featured-box {
    border: 2px solid $lineColor;
    border-radius: 4px;
    background: #f8f8f8;
    text-align: center;
    padding: 8rem 6rem;

    h2 {
      font-size: 4rem;
      line-height: 5.5rem;
      font-weight: 900;
      color: $secondary;
    }

    h5 {
      font-size: 2rem;
      line-height: 2.7rem;
      color: $primary;
    }
  }
}
